LogFile={{ ZABBIXFOLDER }}\zabbix_agentd.log
LogFileSize=0
DebugLevel=3
EnableRemoteCommands=1
LogRemoteCommands=0

#Server=[zabbix server ip]
#Hostname=[Hostname of client system ]

Server={{ SERVER }}
Hostname={{ HOSTNAME }}